<div class="columns">
    <div class="column is-one-half">

        <h3 class="sectionFont is-size-3">User Profile</h3>

        <br>

        <div class="profile-container">
            <h3 class="sectionFont is-size-3">Watchlist</h3>

            <ul>
                {{#each Movies}}
                {{#if wantToWatch}}

                <li class="movie-watchlist">
                    {{title}}
                    <img src="https://image.tmdb.org/t/p/w500/{{poster}}" alt="poster">
                    <br>
                    <button class="addToFavorites" data-id="{{this.id}}">Add To Favorites</button>

                    <button class="delete-movie" data-id="{{this.id}}">Delete Movie</button>
                </li>

                {{/if}}
                {{/each}}
            </ul>
        </div>

        <br>

        <div class="profile-container">
            <h3 class="sectionFont is-size-3">Favorites</h3>

            <ul>
                {{#each Movies}}
                {{#if favorite}}

                <li class="movie-favorite">
                    {{title}}
                    <img src="https://image.tmdb.org/t/p/w500/{{poster}}" alt="poster">

                    <br>
                    <button class="addToWatchlist" data-id="{{this.id}}">Add To Watchlist</button>

                    <button class="delete-movie" data-id="{{this.id}}">Delete Movie</button>
                </li>

                {{/if}}
                {{/each}}
            </ul>
        </div>

        <br>

        <div class="profile-container">
            <h3 class="sectionFont is-size-3">All Movies</h3>

            <ul>
                {{#each Movies}}
                <li>
                    {{title}}
                    <img src="https://image.tmdb.org/t/p/w500/{{poster}}" alt="poster">
                    <br>
                    <button class="addToWatchlist" data-id="{{this.id}}">Add To Watchlist</button>

                    <button class="addToFavorites" data-id="{{this.id}}">Add To Favorites</button>

                    <button class="delete-movie" data-id="{{this.id}}">Delete Movie</button>

                </li>
                {{/each}}
            </ul>
        </div>

    </div>
</div>

<div class="columns">
    <div class="column is-one-half">
        <div class="profile-container">

            <h3 class="sectionFont is-size-3">Search for a Movie</h3>

            <div>
                <label for="newmovie">Movie Title:</label>
                <input class="searchBox" type="text" placeholder="inputMovies">
                <button class="button">Search!</button>

            </div>

            <div id="movie" class="column">


            </div>







            <form class="create-form">

                <div class="form-group">
                    <label for="newmovie">Movie Title:</label>
                    <input type="text" id="newmovie" name="title" class="searchBox">
                </div>

                <button type="submit">Add Movie To List</button>
            </form>
        </div>
    </div>
</div>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/logout">
                Logout
            </a>
        </div>
    </div>
</nav>